Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-check, python-check

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: v1.2.0
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude_types: [diff]
-   repo: local
    hooks:
    -   id: rust-style
        name: Rust style
        description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
        entry: cargo fmt --all -- --check
        pass_filenames: true
        types: [file, rust]
        language: system
    -   id: rust-lint
        name: Rust lint
        description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
        entry: cargo clippy --all --all-targets -- -D warnings
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: js-check
        name: JS style and lint
        description: Run semistandard on files included in the commit.
        entry: ./scripts/js-check.sh
        pass_filenames: true
        types: [file, javascript]
        language: system
    -   id: commit-lint
        name: Commit Lint
        description: Runs commitlint against the commit message.
        language: system
        entry: bash -c "npm install @commitlint/config-conventional @commitlint/cli; cat $1 | npx commitlint"
        args: [$1]
        stages: [commit-msg]
    -   id: python-check
        name: python lint
        entry: black
        description: runs black against the python code
        pass_filenames: true
        types: [file, python]
        language: system

fix(nexus): proper child device removal
  io-engine/src/bdev/nexus/nexus_bdev.rs
Due: rust-style, rust-lint

fix(nexus): merge conflicts resolved
  io-engine/src/bdev/nexus/nexus_bdev.rs
Due: rust-style, rust-lint

build: set openebs as image registry
  Jenkinsfile
  nix/pkgs/images/default.nix
  scripts/release.sh
Due: none

ci: fix cleanup script
  scripts/clean-cargo-tests.sh
Due: none

chore: fix missed pushed commit from pr
  scripts/clean-cargo-tests.sh
Due: none

fix(nvmx): reentrant controller event notification
  io-engine/src/bdev/nexus/nexus_bdev.rs
  io-engine/src/bdev/nexus/nexus_bdev_children.rs
  io-engine/src/bdev/nvmx/controller.rs
  io-engine/src/core/device_events.rs
Due: rust-style, rust-lint

ci: fix failures on early shutdown
  io-engine/src/core/env.rs
  io-engine/src/subsys/nvmf/subsystem.rs
  io-engine/src/subsys/nvmf/target.rs
Due: rust-style, rust-lint

fix(cli): mark uuid as an optional argument during
  io-engine/src/bin/io-engine-client/nexus_cli.rs
Due: rust-style, rust-lint

feat(reactor): support for destroying SPDK threads
  io-engine-tests/src/lib.rs
  io-engine/src/core/env.rs
  io-engine/src/core/reactor.rs
Due: rust-style, rust-lint

feat: extend nvmf uri with a hostnqn
  io-engine/src/bdev/nvmx/uri.rs
  io-engine/src/grpc/v0/mayastor_grpc.rs
  io-engine/src/grpc/v1/nexus.rs
Due: rust-style, rust-lint

feat(reactor): cli arguments for controlling reactor freeze detection
  io-engine/Cargo.toml
  io-engine/src/bin/io-engine.rs
  io-engine/src/core/diagnostics.rs
  io-engine/src/core/env.rs
  io-engine/src/core/mod.rs
  io-engine/src/core/reactor.rs
  nix/pkgs/io-engine/cargo-package.nix
Due: rust-style, rust-lint

feat: update mayastor-api and return allowed-hosts
  io-engine/src/bdev/nexus/nexus_share.rs
  io-engine/src/bdev/nvmx/uri.rs
  io-engine/src/core/bdev.rs
  io-engine/src/core/share.rs
  io-engine/src/grpc/v0/mayastor_grpc.rs
  io-engine/src/grpc/v0/nexus_grpc.rs
  io-engine/src/grpc/v1/nexus.rs
  io-engine/src/grpc/v1/replica.rs
  io-engine/src/lvs/lvs_lvol.rs
  io-engine/src/subsys/nvmf/subsystem.rs
Due: rust-style, rust-lint

feat: report own nqn via registration and info
  io-engine/src/bdev/nvmx/uri.rs
  io-engine/src/bin/io-engine.rs
  io-engine/src/bin/nvmet.rs
  io-engine/src/core/env.rs
  io-engine/src/grpc/server.rs
  io-engine/src/grpc/v1/host.rs
  io-engine/src/subsys/registration/registration_grpc.rs
Due: rust-style, rust-lint

fix(csi-node): cherry-pick remount staging path as ro before final umount
  csi/src/filesystem_vol.rs
  csi/src/mount.rs
Due: rust-style, rust-lint

fix(csi-node): cherry-pick add noddy sleep between umount and disconnect
  csi/src/node.rs
Due: rust-style, rust-lint

fix(csi-node): cherry-pick don't detach if mounts are present
  csi/src/filesystem_vol.rs
  csi/src/node.rs
Due: rust-style, rust-lint

fix(nvmx): reentrant controller event notification
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nvmx/controller.rs
  mayastor/src/core/device_events.rs
Due: rust-style, rust-lint

feat(nexus): nexus self shutdown
  io-engine/src/bdev/nexus/nexus_bdev.rs
  io-engine/src/bdev/nexus/nexus_bdev_children.rs
  io-engine/src/bdev/nexus/nexus_io.rs
  io-engine/tests/nexus_io.rs
Due: rust-style, rust-lint

feat(grpc): per nexus instance locks in grpc api
  mayastor/src/bin/mayastor.rs
  mayastor/src/core/lock.rs
  mayastor/src/core/mod.rs
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/grpc/mod.rs
  mayastor/src/grpc/v1/nexus.rs
  mayastor/tests/lock.rs
Due: rust-style, rust-lint

fix(csi-node): cherry-pick wait until filesystem shutdown before disconnecting
  csi/src/filesystem_vol.rs
  csi/src/mount.rs
  csi/src/node.rs
Due: rust-style, rust-lint

chore(yaml): prepare release v1.0.5
  deploy/csi-daemonset.yaml
  deploy/mayastor-daemonset.yaml
  scripts/check-deploy-yamls.sh
Due: none

fix(nexus): fixing nexus unshare and nvmf error handling
  io-engine/src/bdev/nexus/nexus_bdev.rs
  io-engine/src/bdev/nexus/nexus_bdev_children.rs
  io-engine/src/bdev/nexus/nexus_io_subsystem.rs
  io-engine/src/bdev/nexus/nexus_share.rs
  io-engine/src/core/bdev.rs
  io-engine/src/core/share.rs
  io-engine/src/lvs/lvs_lvol.rs
  io-engine/src/subsys/nvmf/mod.rs
  io-engine/src/subsys/nvmf/subsystem.rs
  io-engine/src/subsys/nvmf/target.rs
Due: rust-style, rust-lint

fix(io-engine): fixing heap issues
  io-engine/src/bdev/nexus/mod.rs
  io-engine/src/bdev/nvme.rs
  io-engine/src/bdev/nvmf.rs
  io-engine/src/bdev/nvmx/controller.rs
  io-engine/src/subsys/config/opts.rs
  io-engine/src/subsys/nvmf/transport.rs
Due: rust-style, rust-lint

feat(poller): switching to spdk_rs poller wrapper
  Cargo.lock
  io-engine/src/bdev/null_ng.rs
  io-engine/src/bdev/nvmx/channel.rs
  io-engine/src/bdev/nvmx/controller.rs
  io-engine/src/bdev/nvmx/uri.rs
  io-engine/src/core/mod.rs
  io-engine/src/core/poller.rs
  io-engine/tests/poller.rs
Due: rust-style, rust-lint

feat(nvmx): running adminq pollers on non-master cores
  io-engine/src/bdev/null_ng.rs
  io-engine/src/bdev/nvmx/controller.rs
  io-engine/src/bdev/nvmx/uri.rs
Due: rust-style, rust-lint

chore(spdk): use spdk with async socket connect
  nix/pkgs/libspdk/default.nix
Due: none

chore(ci): fixing shell.nix to allow to use system default rust toolchain
  shell.nix
Due: none

chore(spdk): upgrading to SPDK 22.09
  ci.nix
  io-engine/src/bdev/nvmx/controller.rs
  io-engine/src/lvs/lvs_store.rs
  io-engine/src/subsys/config/opts.rs
  nix/pkgs/libspdk/default.nix
  shell.nix
Due: rust-style, rust-lint

chore(libs): updating to latest libnvme
  nix/pkgs/libnvme/default.nix
  nix/sources.json
Due: none

chore(ci): updating to latest rustc and nix
  ci.nix
  io-engine-tests/src/nvme.rs
  io-engine/tests/mount_fs.rs
  nix/lib/rust.nix
  nix/pkgs/fio/default.nix
  nix/pkgs/io-engine/cargo-package.nix
  nix/pkgs/io-engine/default.nix
  nix/pkgs/io-engine/units.nix
  nix/sources.json
  scripts/grpc-test.sh
  scripts/rust-linter-env.sh
  scripts/rust-linter.sh
  shell.nix
  test/grpc/README.md
  test/grpc/test_nexus.js
Due: rust-style, rust-lint, js-check

feat(nexus): improving nexus fault injection
  io-engine-tests/src/nexus.rs
  io-engine/src/bdev/nexus/nexus_injection.rs
  io-engine/src/bdev/nexus/nexus_io.rs
  io-engine/src/grpc/v0/nexus_grpc.rs
  io-engine/src/grpc/v1/nexus.rs
  io-engine/tests/nexus_fault_injection.rs
  io-engine/tests/nexus_thin_no_space.rs
Due: rust-style, rust-lint

feat(nexus): refactoring device retire code structure
  io-engine/src/bdev/nexus/nexus_bdev_children.rs
  io-engine/src/bdev/nexus/nexus_channel.rs
  io-engine/src/bdev/nexus/nexus_io.rs
Due: rust-style, rust-lint

feat(tests): improving file compare utility functions
  io-engine-tests/src/file_io.rs
  io-engine-tests/src/nexus.rs
  io-engine-tests/src/nvmf.rs
  io-engine/tests/nexus_fault_injection.rs
  io-engine/tests/nexus_thin_no_space.rs
  io-engine/tests/nexus_thin_rebuild.rs
  io-engine/tests/replica_thin.rs
Due: rust-style, rust-lint

refactor: shutdown grpc server and deregister on sigterm
  io-engine/src/bin/io-engine.rs
  io-engine/src/core/env.rs
  io-engine/src/grpc/server.rs
  io-engine/src/subsys/registration/registration_grpc.rs
Due: rust-style, rust-lint

chore: partial revert of 4e82abc
  io-engine/src/bdev/nexus/nexus_bdev_rebuild.rs
  io-engine/src/bdev/nexus/nexus_child.rs
  io-engine/src/grpc/v1/nexus.rs
  io-engine/src/rebuild/rebuild_error.rs
  io-engine/src/rebuild/rebuild_job.rs
  io-engine/src/rebuild/rebuild_task.rs
Due: rust-style, rust-lint

refactor(io-engine-client): modularizing the client to support multiple versions
  io-engine/src/bin/io-engine-client/main.rs
  io-engine/src/bin/io-engine-client/v0/bdev_cli.rs
  io-engine/src/bin/io-engine-client/v0/controller_cli.rs
  io-engine/src/bin/io-engine-client/v0/device_cli.rs
  io-engine/src/bin/io-engine-client/v0/jsonrpc_cli.rs
  io-engine/src/bin/io-engine-client/v0/mod.rs
  io-engine/src/bin/io-engine-client/v0/nexus_child_cli.rs
  io-engine/src/bin/io-engine-client/v0/nexus_cli.rs
  io-engine/src/bin/io-engine-client/v0/perf_cli.rs
  io-engine/src/bin/io-engine-client/v0/pool_cli.rs
  io-engine/src/bin/io-engine-client/v0/rebuild_cli.rs
  io-engine/src/bin/io-engine-client/v0/replica_cli.rs
  io-engine/src/bin/io-engine-client/v0/snapshot_cli.rs
  io-engine/src/grpc/v0/nexus_grpc.rs
  io-engine/src/grpc/v1/nexus.rs
  scripts/pytest-tests.sh
  test/grpc/test_cli.js
  test/python/tests/cli_controller/test_cli_controller.py
  test/python/tests/nexus/test_nexus.py
  test/python/v1/nexus/test_nexus.py
Due: rust-style, rust-lint, js-check, python-check

feat(io-engine-client): adding support for v1 api
  io-engine/src/bin/io-engine-client/main.rs
  io-engine/src/bin/io-engine-client/v1/bdev_cli.rs
  io-engine/src/bin/io-engine-client/v1/controller_cli.rs
  io-engine/src/bin/io-engine-client/v1/device_cli.rs
  io-engine/src/bin/io-engine-client/v1/jsonrpc_cli.rs
  io-engine/src/bin/io-engine-client/v1/mod.rs
  io-engine/src/bin/io-engine-client/v1/nexus_child_cli.rs
  io-engine/src/bin/io-engine-client/v1/nexus_cli.rs
  io-engine/src/bin/io-engine-client/v1/perf_cli.rs
  io-engine/src/bin/io-engine-client/v1/pool_cli.rs
  io-engine/src/bin/io-engine-client/v1/rebuild_cli.rs
  io-engine/src/bin/io-engine-client/v1/replica_cli.rs
  io-engine/src/bin/io-engine-client/v1/snapshot_cli.rs
Due: rust-style, rust-lint
