Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-check, python-check

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: v1.2.0
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude_types: [diff]
-   repo: local
    hooks:
    -   id: rust-style
        name: Rust style
        description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
        entry: cargo fmt --all -- --check
        pass_filenames: true
        types: [file, rust]
        language: system
    -   id: rust-lint
        name: Rust lint
        description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
        entry: cargo clippy --all --all-targets -- -D warnings
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: js-check
        name: JS style and lint
        description: Run semistandard on files included in the commit.
        entry: ./scripts/js-check.sh
        pass_filenames: true
        types: [file, javascript]
        language: system
    -   id: commit-lint
        name: Commit Lint
        description: Runs commitlint against the commit message.
        language: system
        entry: bash -c "npm install @commitlint/config-conventional @commitlint/cli; cat $1 | npx commitlint"
        args: [$1]
        stages: [commit-msg]
    -   id: python-check
        name: python lint
        entry: black
        description: runs black against the python code
        pass_filenames: true
        types: [file, python]
        language: system

fix(jenkins): hardcode indexing check and run release on a schedule
  Jenkinsfile
Due: none

chore: add env variable to allow qpair async connect
  io-engine/src/bdev/nvmx/channel.rs
  io-engine/src/subsys/config/opts.rs
Due: rust-style, rust-lint

fix(CI): push images on merge to develop
  Jenkinsfile
Due: none

feat(bench): add benchmarks crate for io-engine operations
  Cargo.lock
  Cargo.toml
  ci.nix
  composer/src/lib.rs
  io-engine-bench/.cargo/config
  io-engine-bench/.cargo/runner.sh
  io-engine-bench/Cargo.toml
  io-engine-bench/README.md
  io-engine-bench/build.rs
  io-engine-bench/src/common
  io-engine-bench/src/lib.rs
  io-engine-bench/src/nexus.rs
  shell.nix
Due: rust-style, rust-lint

chore: build images on release branches
  Jenkinsfile
  scripts/release.sh
Due: none

fix: don't push latest on master
  scripts/release.sh
Due: none

docs: :art: document markdown formatted to standard md format
  doc/mayastor-client.md
Due: none

docs(readme): fixed spelling issue and TOC formatting
  doc/mayastor-client.md
Due: none

chore(readme): add breaking changes warning
  README.md
Due: none

chore(deployment): remove deploy file and charts
  README.md
  chart/.helmignore
  chart/Chart.lock
  chart/Chart.yaml
  chart/README.md
  chart/develop/values.yaml
  chart/release/values.yaml
  chart/templates/_helpers.tpl
  chart/templates/etcd/storage/localpv.yaml
  chart/templates/mayastor-daemonset.yaml
  chart/templates/pool.yaml
  chart/test/values.yaml
  chart/values.yaml
  deploy/README.md
  deploy/etcd/statefulset.yaml
  deploy/etcd/storage/localpv.yaml
  deploy/etcd/svc-headless.yaml
  deploy/etcd/svc.yaml
  deploy/fio.yaml
  deploy/fiotest.sh
  deploy/mayastor-daemonset.yaml
  deploy/pvc.yaml
  deploy/storage-class.yaml
Due: none

chore: add csi fixes from control-plane
  csi/src/config.rs
  csi/src/dev/nvmf.rs
  csi/src/nodeplugin_grpc.rs
  csi/src/server.rs
  csi/src/shutdown_event.rs
  nvmeadm/src/nvmf_discovery.rs
Due: rust-style, rust-lint

chore: update commitlint gha
  .github/workflows/pr-commitlint.yml
Due: none

chore: add env variable to allow qpair async connect
  csi/src/node.rs
  mayastor/src/bdev/nvmx/channel.rs
  mayastor/src/subsys/config/opts.rs
  scripts/release.sh
Due: rust-style, rust-lint

chore: add nr of io queues and nvme async connect to the charts
  chart/templates/csi-daemonset.yaml
  chart/templates/mayastor-daemonset.yaml
  deploy/csi-daemonset.yaml
  deploy/mayastor-daemonset.yaml
Due: none

fix: fix error message when different pool found
  mayastor/src/lvs/lvs_pool.rs
Due: rust-style, rust-lint

fix(etcd): pin chart to a specific commit
  chart/Chart.lock
  chart/Chart.yaml
Due: none

feat(version): unified version display
  .gitmodules
  Cargo.lock
  Cargo.toml
  mayastor/Cargo.toml
  mayastor/src/bin/casperf.rs
  mayastor/src/bin/initiator.rs
  mayastor/src/bin/jsonrpc.rs
  mayastor/src/bin/mayastor-client/main.rs
  mayastor/src/bin/mayastor.rs
  mayastor/src/bin/nvmet.rs
  mayastor/src/bin/uring-support.rs
  mayastor/src/core/env.rs
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/grpc/v1/host.rs
  nix/pkgs/mayastor/cargo-package.nix
Due: rust-style, rust-lint

fix: bors should check the GHA statuses
  bors.toml
Due: none

chore: increase default number of max namespaces per node to 2k
  mayastor/src/subsys/config/opts.rs
Due: rust-style, rust-lint

fix: change v0/create_pool to idempotent
  mayastor/src/grpc/mayastor_grpc.rs
  test/python/tests/replica/features/pool.feature
  test/python/tests/replica/test_bdd_pool.py
Due: rust-style, rust-lint, python-check

chore: prepare release branch for 1.0.2
  .pre-commit-config.yaml
  Jenkinsfile
  deploy/csi-daemonset.yaml
  deploy/etcd/statefulset.yaml
  deploy/etcd/storage/localpv.yaml
  deploy/mayastor-daemonset.yaml
  deploy/nats-deployment.yaml
  scripts/check-deploy-yamls.sh
  scripts/release.sh
Due: none

fix(ci): generate hostnqn if host does not have one
  libnvme-rs/src/nvme_uri.rs
Due: rust-style, rust-lint

chore(spdk): update spdk
  nix/pkgs/libspdk/default.nix
Due: none

fix: build only the binaries for debug builds
  nix/pkgs/io-engine/cargo-package.nix
Due: none

fix(ci): generate hostnqn if host does not have one
  io-engine/tests/mount_fs.rs
  io-engine/tests/persistence.rs
  libnvme-rs/src/nvme_uri.rs
Due: rust-style, rust-lint

chore(docs): fix typo
  CONTRIBUTING.md
  doc/build.md
Due: none

chore(bors): require DCO for bors r+
  bors.toml
Due: none

feat(logger): adding compact log output format
  io-engine/src/bin/io-engine.rs
  io-engine/src/core/env.rs
  io-engine/src/logger.rs
Due: rust-style, rust-lint

fix(etcd): setup etcd tests with path from nix environment
  ci.nix
  io-engine/tests/persistence.rs
  shell.nix
Due: rust-style, rust-lint

feat(spdk): improved io channel usage
  io-engine/src/bin/casperf.rs
  io-engine/src/core/channel.rs
  io-engine/src/core/descriptor.rs
  io-engine/src/core/handle.rs
  io-engine/src/core/io_driver.rs
  io-engine/src/core/mod.rs
  io-engine/tests/lock_lba_range.rs
Due: rust-style, rust-lint

feat(thread): refactor spdk thread use
  io-engine/src/bin/casperf.rs
  io-engine/src/core/channel.rs
  io-engine/src/core/descriptor.rs
  io-engine/src/core/env.rs
  io-engine/src/core/mod.rs
  io-engine/src/core/reactor.rs
  io-engine/src/core/thread.rs
  io-engine/src/grpc/mod.rs
  io-engine/src/lvs/lvol.rs
  io-engine/src/persistent_store.rs
  io-engine/src/sleep.rs
  io-engine/src/subsys/config/pool.rs
  io-engine/src/subsys/nvmf/target.rs
  io-engine/tests/common/mod.rs
  io-engine/tests/thread.rs
Due: rust-style, rust-lint

feat(core): refactoring spdk bindings
  io-engine/src/bdev/device.rs
  io-engine/src/bdev/mod.rs
  io-engine/src/bdev/nexus/nexus_bdev.rs
  io-engine/src/bdev/nexus/nexus_bdev_rebuild.rs
  io-engine/src/bin/casperf.rs
  io-engine/src/core/bdev.rs
  io-engine/src/core/descriptor.rs
  io-engine/src/core/handle.rs
  io-engine/src/core/io_driver.rs
  io-engine/src/core/mod.rs
  io-engine/src/rebuild/rebuild_api.rs
  io-engine/src/rebuild/rebuild_impl.rs
  io-engine/tests/common/bdev_io.rs
  io-engine/tests/core.rs
  io-engine/tests/replica_snapshot.rs
  io-engine/tests/reset.rs
Due: rust-style, rust-lint

chore(rebuild): nexus child and rebuild code cleanup
  io-engine/src/bdev/device.rs
  io-engine/src/bdev/nexus/nexus_bdev.rs
  io-engine/src/bdev/nexus/nexus_bdev_children.rs
  io-engine/src/bdev/nexus/nexus_bdev_rebuild.rs
  io-engine/src/bdev/nexus/nexus_channel.rs
  io-engine/src/bdev/nexus/nexus_child.rs
  io-engine/src/bdev/nexus/nexus_module.rs
  io-engine/src/bdev/nexus/nexus_persistence.rs
  io-engine/src/bdev/nvmx/device.rs
  io-engine/src/core/block_device.rs
  io-engine/src/grpc/nexus_grpc.rs
  io-engine/src/grpc/v1/nexus.rs
  io-engine/src/rebuild/rebuild_api.rs
  io-engine/src/rebuild/rebuild_impl.rs
  io-engine/tests/common/mod.rs
  io-engine/tests/nexus_rebuild.rs
Due: rust-style, rust-lint

chore(nexus): refactoring nexus children and rebuild jobs
  io-engine/src/bdev/nexus/mod.rs
  io-engine/src/bdev/nexus/nexus_bdev.rs
  io-engine/src/bdev/nexus/nexus_bdev_children.rs
  io-engine/src/bdev/nexus/nexus_bdev_rebuild.rs
  io-engine/src/bdev/nexus/nexus_channel.rs
  io-engine/src/bdev/nexus/nexus_child.rs
  io-engine/src/bdev/nexus/nexus_module.rs
  io-engine/src/bdev/nexus/nexus_persistence.rs
  io-engine/src/grpc/mayastor_grpc.rs
  io-engine/src/grpc/nexus_grpc.rs
  io-engine/src/grpc/v1/nexus.rs
  io-engine/src/rebuild/rebuild_error.rs
  io-engine/src/rebuild/rebuild_job.rs
  io-engine/tests/add_child.rs
  io-engine/tests/common/mod.rs
  io-engine/tests/mayastor_compose_basic.rs
  io-engine/tests/nexus_add_remove.rs
  io-engine/tests/nexus_child_location.rs
  io-engine/tests/nexus_rebuild.rs
  io-engine/tests/replica_timeout.rs
Due: rust-style, rust-lint

chore(nexus): removed pointless child count field
  io-engine/src/bdev/nexus/nexus_bdev.rs
  io-engine/src/bdev/nexus/nexus_bdev_children.rs
Due: rust-style, rust-lint

fix(bdev): fixed bad use of pin
  io-engine/src/bdev/nexus/nexus_io.rs
  io-engine/src/bdev/nexus/nexus_iter.rs
Due: rust-style, rust-lint

feat(spdk): refactored bdev descriptor and lba lock
  io-engine/src/bdev/device.rs
  io-engine/src/bin/casperf.rs
  io-engine/src/core/bdev.rs
  io-engine/src/core/block_device.rs
  io-engine/src/core/descriptor.rs
  io-engine/src/core/handle.rs
  io-engine/src/core/io_driver.rs
  io-engine/src/core/mod.rs
  io-engine/src/rebuild/rebuild_api.rs
  io-engine/src/rebuild/rebuild_impl.rs
  io-engine/tests/core.rs
  io-engine/tests/lock_lba_range.rs
  io-engine/tests/malloc_bdev.rs
Due: rust-style, rust-lint

chore(rebuild): rebuild code structure refactoring and cleanup
  io-engine/src/rebuild/mod.rs
  io-engine/src/rebuild/rebuild_api.rs
  io-engine/src/rebuild/rebuild_error.rs
  io-engine/src/rebuild/rebuild_job.rs
  io-engine/src/rebuild/rebuild_state.rs
  io-engine/src/rebuild/rebuild_task.rs
Due: rust-style, rust-lint
