Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-check, python-check

rust-style:
  name: Rust style
  description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
  entry: cargo fmt --all -- --check
  pass_filenames: true
  language: system

rust-lint:
  name: Rust lint
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: cargo clippy --all --all-targets -- -D warnings
  pass_filenames: false
  language: system

js-check:
  name: JS style and lint
  description: Run semistandard on files included in the commit.
  entry: ./scripts/js-check.sh
  pass_filenames: true
  language: system

python-check:
  name: python lint
  entry: black
  description: runs black against the python code
  pass_filenames: true
  language: system

test(nvme): sort the container handles
  io-engine-tests/src/compose/rpc/v0.rs
Due: rust-style, rust-lint

chore: silence replica list v1
  io-engine/src/grpc/v1/replica.rs
Due: rust-style, rust-lint

fix(ci): wa jenkins bug where params are not set on first run
  Jenkinsfile
  test/grpc/test_rebuild.js
Due: js-check

ci: update with CI changes from develop
  Jenkinsfile
  scripts/release.sh
Due: none

chore: disable fio-spdk from release
  scripts/release.sh
Due: none

fix: clean workspace before image build test
  Jenkinsfile
Due: none

fix: trace errno in lvol destroy error message
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/lvs/lvol.rs
Due: rust-style, rust-lint

fix: make unmount not lazy
  csi/src/mount.rs
Due: rust-style, rust-lint

feat(mayastor): allow user to specify nic for nvmf target
  Cargo.lock
  mayastor/Cargo.toml
  mayastor/src/core/env.rs
  mayastor/src/core/mod.rs
  mayastor/src/core/nic.rs
  mayastor/src/subsys/nvmf/transport.rs
  mayastor/tests/nvmf.rs
Due: rust-style, rust-lint

feat(io-engine): printing configuration on io-engine startup
  io-engine/src/subsys/config/mod.rs
  io-engine/src/subsys/config/opts.rs
Due: rust-style, rust-lint

feat(io-engine): printing configuration on io-engine startup
  mayastor/src/subsys/config/mod.rs
  mayastor/src/subsys/config/opts.rs
Due: rust-style, rust-lint

build!: set openebs as image registry
  nix/pkgs/images/default.nix
  scripts/release.sh
Due: none

build!: change docker hub credentials
  Jenkinsfile
Due: none

fix(nvmf): don't enable ANA reporting for lvol replicas
  io-engine/src/bdev/nexus/mod.rs
  io-engine/src/bdev/nexus/nexus_share.rs
  io-engine/src/core/bdev.rs
  io-engine/src/core/mod.rs
  io-engine/src/core/share.rs
  io-engine/src/lvs/lvs_lvol.rs
  io-engine/src/subsys/nvmf/subsystem.rs
Due: rust-style, rust-lint

fix(nvme-reservation): acquire without preempt
  io-engine/src/bdev/nexus/nexus_child.rs
Due: rust-style, rust-lint

chore(release): update image tags to v.1.0.3
  deploy/csi-daemonset.yaml
  deploy/mayastor-daemonset.yaml
Due: none

chore(check-deploy-yamls): update to v1.0.3 tag
  scripts/check-deploy-yamls.sh
Due: none

feat(grpc): per nexus instance locks in grpc api
  io-engine/src/bin/io-engine.rs
  io-engine/src/core/lock.rs
  io-engine/src/core/mod.rs
  io-engine/src/grpc/mod.rs
  io-engine/src/grpc/v0/mayastor_grpc.rs
  io-engine/src/grpc/v1/nexus.rs
  io-engine/tests/lock.rs
Due: rust-style, rust-lint

fix(nexus): relaxed error unwraps in nexus destroy
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_share.rs
Due: rust-style, rust-lint

fix(nexus): relaxed error unwraps in nexus destroy
  io-engine/src/bdev/nexus/nexus_bdev.rs
  io-engine/src/bdev/nexus/nexus_share.rs
Due: rust-style, rust-lint

fix(csi-node): don't unstage if bind mount exists
  csi/src/filesystem_vol.rs
  csi/src/mount.rs
Due: rust-style, rust-lint

fix(nix-build): add missing img_tag argument
  ci.nix
  default.nix
  nix/mayastor-overlay.nix
  nix/pkgs/images/default.nix
  shell.nix
Due: none

fix: remove host path from csi daemonset
  chart/templates/csi-daemonset.yaml
  deploy/csi-daemonset.yaml
Due: none

chore(yaml): prepare release v1.0.4
  deploy/csi-daemonset.yaml
  deploy/mayastor-daemonset.yaml
  scripts/check-deploy-yamls.sh
Due: none

feat(nvme-resv): add nvme reservation persistence through powerloss
  io-engine-tests/src/nvme.rs
  io-engine/src/bdev/mod.rs
  io-engine/src/bdev/nexus/mod.rs
  io-engine/src/bdev/nexus/nexus_bdev.rs
  io-engine/src/bdev/nexus/nexus_child.rs
  io-engine/src/bdev/nexus/nexus_persistence.rs
  io-engine/src/bdev/nexus/nexus_share.rs
  io-engine/src/core/bdev.rs
  io-engine/src/core/env.rs
  io-engine/src/core/mod.rs
  io-engine/src/core/share.rs
  io-engine/src/grpc/v0/nexus_grpc.rs
  io-engine/src/grpc/v1/nexus.rs
  io-engine/src/lvs/lvs_lvol.rs
  io-engine/src/lvs/lvs_store.rs
  io-engine/src/subsys/nvmf/subsystem.rs
  io-engine/tests/nexus_io.rs
  nix/pkgs/libspdk/default.nix
Due: rust-style, rust-lint

feat(nvme): add allowed-hosts control for nvme targets
  io-engine/src/bdev/nexus/nexus_bdev_error.rs
  io-engine/src/bdev/nexus/nexus_share.rs
  io-engine/src/core/bdev.rs
  io-engine/src/core/mod.rs
  io-engine/src/core/share.rs
  io-engine/src/lvs/lvs_error.rs
  io-engine/src/lvs/lvs_lvol.rs
  io-engine/src/subsys/nvmf/mod.rs
  io-engine/src/subsys/nvmf/subsystem.rs
Due: rust-style, rust-lint

feat(api): make use of the new allowed_hosts parameter
  io-engine-bench/src/nexus.rs
  io-engine-tests/src/nexus.rs
  io-engine-tests/src/replica.rs
  io-engine/src/bdev/nexus/nexus_share.rs
  io-engine/src/bin/io-engine-client/bdev_cli.rs
  io-engine/src/bin/io-engine-client/nexus_cli.rs
  io-engine/src/bin/io-engine-client/replica_cli.rs
  io-engine/src/core/mod.rs
  io-engine/src/core/share.rs
  io-engine/src/grpc/v0/bdev_grpc.rs
  io-engine/src/grpc/v0/mayastor_grpc.rs
  io-engine/src/grpc/v1/bdev.rs
  io-engine/src/grpc/v1/nexus.rs
  io-engine/src/grpc/v1/replica.rs
  io-engine/tests/block_device_nvmf.rs
  io-engine/tests/mayastor_compose_basic.rs
  io-engine/tests/nexus_add_remove.rs
  io-engine/tests/nexus_child_location.rs
  io-engine/tests/nexus_io.rs
  io-engine/tests/nvme_device_timeout.rs
  io-engine/tests/nvmf.rs
  io-engine/tests/persistence.rs
  io-engine/tests/replica_snapshot.rs
  io-engine/tests/replica_timeout.rs
  io-engine/tests/replica_uri.rs
  io-engine/tests/reset.rs
Due: rust-style, rust-lint

feat(io-engine-client): add allowed-host parameter to share subcommands
  io-engine/src/bin/io-engine-client/bdev_cli.rs
  io-engine/src/bin/io-engine-client/nexus_cli.rs
  io-engine/src/bin/io-engine-client/replica_cli.rs
Due: rust-style, rust-lint

test: cleanup previous cargo tests before running
  scripts/cargo-test.sh
  scripts/clean-cargo-tests.sh
  scripts/grpc-test.sh
Due: none

chore: allow for not using reservations
  io-engine/src/bdev/nexus/nexus_bdev.rs
  io-engine/src/bdev/nexus/nexus_child.rs
  test/grpc/test_nexus.js
Due: rust-style, rust-lint, js-check

fix(nvme-resv): setup ptpl from the caller side
  io-engine-tests/src/replica.rs
  io-engine/src/bin/io-engine-client/replica_cli.rs
  io-engine/src/grpc/v0/mayastor_grpc.rs
  io-engine/src/grpc/v1/replica.rs
  io-engine/src/lvs/lvs_lvol.rs
  io-engine/tests/nexus_io.rs
  io-engine/tests/nexus_with_local.rs
  io-engine/tests/replica_snapshot.rs
  io-engine/tests/replica_uri.rs
  scripts/grpc-test.sh
Due: rust-style, rust-lint

fix: improve nexus creation grpc status message
  io-engine/src/bdev/nexus/nexus_bdev.rs
  io-engine/src/bdev/nexus/nexus_bdev_children.rs
  io-engine/src/bdev/nexus/nexus_bdev_error.rs
Due: rust-style, rust-lint

fix(allowed-hosts): store lvol allowed-hosts within the lvol properties
  io-engine/src/lvs/lvs_lvol.rs
  io-engine/src/lvs/lvs_store.rs
  io-engine/src/subsys/nvmf/subsystem.rs
  scripts/clean-cargo-tests.sh
Due: rust-style, rust-lint

fix(nexus): event handler scheduled on reactor
  io-engine/src/bdev/nexus/nexus_bdev_children.rs
Due: rust-style, rust-lint

fix(nvmx): reentrant controller event notification
  io-engine/src/bdev/nvmx/controller.rs
  io-engine/src/core/device_events.rs
Due: rust-style, rust-lint

fix(nexus): multi stage nexus creation
  io-engine/src/bdev/nexus/nexus_bdev.rs
  io-engine/src/bdev/nexus/nexus_bdev_children.rs
Due: rust-style, rust-lint

Path conditions:
  rust-style: any of: \.rs$
  rust-lint: any of: \.rs$
  js-check: any of: \.(js|mjs|cjs)$
  python-check: any of: \.py$
