Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-check, python-check

rust-style:
  name: Rust style
  description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
  entry: cargo fmt --all -- --check
  pass_filenames: true
  language: system

rust-lint:
  name: Rust lint
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: cargo clippy --all --all-targets -- -D warnings
  pass_filenames: false
  language: system

js-check:
  name: JS style and lint
  description: Run semistandard on files included in the commit.
  entry: ./scripts/js-check.sh
  pass_filenames: true
  language: system

python-check:
  name: python lint
  entry: black
  description: runs black against the python code
  pass_filenames: true
  language: system

chore: update deploy example definition files
  deploy/csi-daemonset.yaml
  deploy/etcd/statefulset.yaml
  deploy/etcd/storage/localpv.yaml
  deploy/mayastor-daemonset.yaml
  deploy/moac-deployment.yaml
  deploy/moac-rbac.yaml
  deploy/nats-deployment.yaml
  deploy/storage-class.yaml
Due: none

fix(charts): remove moac templates
  chart/templates/moac-deployment.yaml
  chart/templates/moac-rbac.yaml
Due: none

fix(charts): remove moac templates (#1070)
  chart/templates/moac-deployment.yaml
  chart/templates/moac-rbac.yaml
Due: none

fix: remove changes to helm chart templates
  chart/templates/csi-daemonset.yaml
  chart/templates/mayastor-daemonset.yaml
Due: none

chore: add signal handlers for SIGTERM and SIGINT
  csi/src/server.rs
Due: rust-style, rust-lint

test(e2e): add support to build images which generate coverage data
  chart/templates/csi-daemonset.yaml
  chart/templates/mayastor-daemonset.yaml
  nix/mayastor-overlay.nix
  nix/pkgs/images/default.nix
  nix/pkgs/mayastor/cargo-package.nix
  nix/pkgs/mayastor/default.nix
  scripts/release.sh
Due: none

fix: for review
  nix/pkgs/mayastor/cargo-package.nix
Due: none

fix: Update project readme
  README.md
Due: none

fix: correct repo link in project readme
  README.md
Due: none

fix(nexus): assertion failure in nexus_bdev resume()
  mayastor/src/bdev/nexus/nexus_bdev.rs
Due: rust-style, rust-lint

fix: update project readme
  README.md
Due: none

chore(code reviewers): update list of reviewers
  .github/auto_assign.yml
Due: none

fix(helm chart): remove local pool config store
  chart/templates/mayastor-daemonset.yaml
  deploy/mayastor-daemonset.yaml
Due: none

fix(ci): fixed rpath in matastor docker image
  nix/pkgs/mayastor/cargo-package.nix
Due: none

feat(grpc): adding v1 mayastor service
  mayastor/src/grpc/controller_grpc.rs
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/grpc/mod.rs
  mayastor/src/grpc/server.rs
  mayastor/src/grpc/v1/host.rs
  mayastor/src/host/blk_device.rs
  mayastor/src/host/resource.rs
  rpc/build.rs
  rpc/src/lib.rs
  test/python/setup.sh
  test/python/v1/hdl.py
Due: rust-style, rust-lint, python-check

fix(nexus): do not persist faulted state of the last replica
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_persistence.rs
Due: rust-style, rust-lint

chore(helm): make all namespaces variable
  chart/templates/etcd/storage/localpv.yaml
  chart/templates/mayastor-daemonset.yaml
  scripts/generate-deploy-yamls.sh
Due: none

fix(lvol): referring lvol name after destroy
  mayastor/src/lvs/lvol.rs
Due: rust-style, rust-lint

feat: build against SPDK 22.01
  mayastor/src/bdev/malloc.rs
  mayastor/src/bdev/nvme.rs
  mayastor/src/bdev/nvmf.rs
  mayastor/src/bdev/nvmx/channel.rs
  mayastor/src/bdev/nvmx/uri.rs
  mayastor/src/subsys/config/opts.rs
  mayastor/src/subsys/nvmf/target.rs
  mayastor/tests/block_device_nvmf.rs
  mayastor/tests/nvme_device_timeout.rs
  mayastor/tests/replica_timeout.rs
  nix/pkgs/libspdk/cet-disable.patch
  nix/pkgs/libspdk/default.nix
Due: rust-style, rust-lint

chore(nexus): cleanup bdev use in nexus code
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/bdev/nexus/nexus_bdev_snapshot.rs
  mayastor/src/bdev/nexus/nexus_module.rs
  mayastor/src/bdev/nexus/nexus_share.rs
  mayastor/src/core/bdev.rs
Due: rust-style, rust-lint

fix(nvmf): avoid destroying subsystem again
  mayastor/src/subsys/nvmf/subsystem.rs
Due: rust-style, rust-lint

fix(nexus): serialised nexus i/o suspend/resume
  mayastor/src/bdev/nexus/mod.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_io_subsystem.rs
Due: rust-style, rust-lint

refactor(grpc): make bdev rpc naming better
  mayastor/src/grpc/v1/bdev.rs
  rpc/src/lib.rs
Due: rust-style, rust-lint

feat(grpc): add v1 nexus grpc service
  mayastor/src/bdev/nexus/mod.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_share.rs
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/grpc/mod.rs
  mayastor/src/grpc/nexus_grpc.rs
  mayastor/src/grpc/server.rs
  mayastor/src/grpc/v1/nexus.rs
  mayastor/tests/add_child.rs
  mayastor/tests/core.rs
  mayastor/tests/mount_fs.rs
  mayastor/tests/nexus_io.rs
  mayastor/tests/nexus_rebuild.rs
  mayastor/tests/replica_timeout.rs
  rpc/build.rs
  rpc/src/lib.rs
Due: rust-style, rust-lint

test(nexus): add tests for v1/nexus service
  .gitignore
  scripts/pytest-tests.sh
  test/python/setup.sh
  test/python/v1/hdl.py
  test/python/v1/nexus/docker-compose.yml
  test/python/v1/nexus/test_multi_nexus.py
  test/python/v1/nexus/test_nexus.py
  test/python/v1/nexus/test_null_nexus.py
  test/python/v1/nexus/test_remote_only.py
  test/python/v1/volume.py
Due: python-check

chore: add env variable to control max number of qpairs
  mayastor/src/bdev/nvmx/channel.rs
  mayastor/src/subsys/config/opts.rs
Due: rust-style, rust-lint

chore(version numbers): increment all to 1.0.0
  Cargo.lock
  composer/Cargo.toml
  csi/Cargo.toml
  devinfo/Cargo.toml
  jsonrpc/Cargo.toml
  mayastor/Cargo.toml
  mbus-api/Cargo.toml
  nvmeadm/Cargo.toml
  rpc/Cargo.toml
  spdk-sys/Cargo.toml
  sysfs/Cargo.toml
Due: none

chore(version numbers): increment all to 1.0.0
  Cargo.lock
  composer/Cargo.toml
  csi/Cargo.toml
  devinfo/Cargo.toml
  jsonrpc/Cargo.toml
  mayastor/Cargo.toml
  mbus-api/Cargo.toml
  nvmeadm/Cargo.toml
  rpc/Cargo.toml
  sysfs/Cargo.toml
Due: none

chore: update chart to include nvmf env variables
  chart/templates/mayastor-daemonset.yaml
  deploy/csi-daemonset.yaml
  deploy/mayastor-daemonset.yaml
Due: none

chore(code reviewers): remove gila
  .github/auto_assign.yml
Due: none

chore: update chart to reflect previous deploy configuration
  chart/templates/_helpers.tpl
  chart/templates/mayastor-daemonset.yaml
  deploy/mayastor-daemonset.yaml
Due: none

Path conditions:
  rust-style: any of: \.rs$
  rust-lint: any of: \.rs$
  js-check: any of: \.(js|mjs|cjs)$
  python-check: any of: \.py$
