Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-check, python-check

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: v1.2.0
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude_types: [diff]
-   repo: local
    hooks:
    -   id: rust-style
        name: Rust style
        description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
        entry: cargo fmt --all -- --check
        pass_filenames: true
        types: [file, rust]
        language: system
    -   id: rust-lint
        name: Rust lint
        description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
        entry: cargo clippy --all --all-targets -- -D warnings
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: js-check
        name: JS style and lint
        description: Run semistandard on files included in the commit.
        entry: ./scripts/js-check.sh
        pass_filenames: true
        types: [file, javascript]
        language: system
    -   id: commit-lint
        name: Commit Lint
        description: Runs commitlint against the commit message.
        language: system
        entry: bash -c "npm install @commitlint/config-conventional @commitlint/cli; cat $1 | npx commitlint"
        args: [$1]
        stages: [commit-msg]
    -   id: python-check
        name: python lint
        entry: black
        description: runs black against the python code
        pass_filenames: true
        types: [file, python]
        language: system

fix(thin-provisioning): don't leak replicas when wipe_super fails
  io-engine/src/lvs/lvs_lvol.rs
  io-engine/src/lvs/lvs_store.rs
Due: rust-style, rust-lint

fix(pre-commit): ignore comments when linting a commit
  .pre-commit-config.yaml
Due: none

fix(thin-provisioning): cap replica size to pool capacity
  io-engine/src/lvs/lvs_store.rs
  io-engine/tests/nexus_thin.rs
  test/python/tests/nexus/test_nexus.py
  test/python/v1/nexus/test_nexus.py
Due: rust-style, rust-lint, python-check

feat: allow permanently faulting a replica with client reason
  io-engine/src/bdev/nexus/nexus_bdev_children.rs
Due: rust-style, rust-lint

chore(ci): add bdd tests to check cross compatability between v0 & v1 gRPC versions
  io-engine/src/grpc/v1/replica.rs
  scripts/pytest-tests.sh
  test/python/cross-grpc-version/nexus/docker-compose.yml
  test/python/cross-grpc-version/nexus/features/nexus.feature
  test/python/cross-grpc-version/nexus/test_bdd_nexus.py
  test/python/cross-grpc-version/pool/docker-compose.yml
  test/python/cross-grpc-version/pool/features/pool.feature
  test/python/cross-grpc-version/pool/test_bdd_pool.py
  test/python/cross-grpc-version/rebuild/docker-compose.yml
  test/python/cross-grpc-version/rebuild/features/rebuild.feature
  test/python/cross-grpc-version/rebuild/test_bdd_rebuild.py
  test/python/cross-grpc-version/replica/docker-compose.yml
  test/python/cross-grpc-version/replica/features/replica.feature
  test/python/cross-grpc-version/replica/test_bdd_replica.py
Due: rust-style, rust-lint, python-check

chore: add poolname in v1 grpc replica response
  io-engine/src/grpc/v1/replica.rs
Due: rust-style, rust-lint

fix: set the nvme admin timeout
  io-engine/src/bdev/nvmx/controller_inner.rs
Due: rust-style, rust-lint

feat(restart-detection): set instance uuid when the io-engine starts
  io-engine/src/grpc/v1/host.rs
  io-engine/src/subsys/registration/registration_grpc.rs
Due: rust-style, rust-lint

chore(v1poolgrpc): return appropriate grpc status codes
  io-engine/src/grpc/v0/mayastor_grpc.rs
  io-engine/src/grpc/v1/pool.rs
  io-engine/src/lvs/lvs_error.rs
  test/python/cross-grpc-version/pool/test_bdd_pool.py
  test/python/v1/pool/test_bdd_pool.py
Due: rust-style, rust-lint, python-check

feat(reactor): freeze detection support for reactors
  Cargo.lock
  ci.nix
  io-engine/Cargo.toml
  io-engine/src/bin/io-engine.rs
  io-engine/src/core/diagnostics.rs
  io-engine/src/core/env.rs
  io-engine/src/core/mod.rs
  io-engine/src/core/reactor.rs
  jsonrpc/src/error.rs
  shell.nix
Due: rust-style, rust-lint

chore(ci): adding new scenario to v1 pool grpc test
  test/python/cross-grpc-version/pool/features/pool.feature
  test/python/cross-grpc-version/pool/test_bdd_pool.py
Due: python-check

fix(grpc-socket): use socketAddr type instead of string
  io-engine/src/bin/io-engine.rs
  io-engine/src/bin/nvmet.rs
  io-engine/src/core/env.rs
  io-engine/src/grpc/mod.rs
  io-engine/src/grpc/server.rs
  io-engine/src/grpc/v1/host.rs
Due: rust-style, rust-lint

fix(build): fix arm64 build
  nix/pkgs/libspdk/default.nix
Due: none

fix(ci): add missing release branch subst for tag
  scripts/release.sh
Due: none

feat(fio-spdk): add userspace fio with spdk engine
  ci.nix
  default.nix
  nix/overlay.nix
  nix/pkgs/fio/default.nix
  nix/pkgs/images/default.nix
  nix/pkgs/libspdk/default.nix
  scripts/pytest-tests.sh
  scripts/release.sh
  shell.nix
Due: none

ci: check coredumps with sudo
  Jenkinsfile
Due: none

fix(nexus): shutdown nexuses upon graceful shutdown
  io-engine/src/bdev/nexus/mod.rs
  io-engine/src/core/env.rs
  io-engine/tests/persistence.rs
  test/grpc/test_rebuild.js
Due: rust-style, rust-lint, js-check

fix(dependencies): pin git submodules to release/2.0 branches
  .gitmodules
Due: none

feat(nexus): nexus shutdown operation
  io-engine/src/bdev/nexus/mod.rs
  io-engine/src/bdev/nexus/nexus_bdev.rs
  io-engine/src/bdev/nexus/nexus_bdev_children.rs
  io-engine/src/bdev/nexus/nexus_bdev_error.rs
  io-engine/src/bin/io-engine-client/nexus_cli.rs
  io-engine/src/grpc/v0/mayastor_grpc.rs
  io-engine/src/grpc/v0/nexus_grpc.rs
  io-engine/src/grpc/v1/nexus.rs
  test/python/common/hdl.py
  test/python/common/nvme.py
  test/python/tests/nexus/features/shutdown.feature
  test/python/tests/nexus/test_nexus_shutdown.py
Due: rust-style, rust-lint, python-check

feat(thin): thin provisioning tests
  Cargo.lock
  io-engine-tests/Cargo.toml
  io-engine-tests/src/bdev.rs
  io-engine-tests/src/compose/rpc/v1.rs
  io-engine-tests/src/file_io.rs
  io-engine-tests/src/lib.rs
  io-engine-tests/src/nexus.rs
  io-engine-tests/src/nvme.rs
  io-engine-tests/src/nvmf.rs
  io-engine-tests/src/pool.rs
  io-engine-tests/src/replica.rs
  io-engine/tests/nexus_thin.rs
  io-engine/tests/nexus_thin_no_space.rs
Due: rust-style, rust-lint

feat(thin): rebuild of thin provisioned replicas
  io-engine/src/bdev/device.rs
  io-engine/src/bdev/nvmx/handle.rs
  io-engine/src/core/block_device.rs
  io-engine/src/core/handle.rs
  io-engine/src/core/mod.rs
  io-engine/src/rebuild/rebuild_job.rs
  io-engine/tests/nexus_thin_rebuild.rs
  nix/pkgs/libspdk/default.nix
Due: rust-style, rust-lint

feat(thin): space usage report for thin provisioned replicas
  io-engine-tests/src/pool.rs
  io-engine-tests/src/replica.rs
  io-engine/src/grpc/v0/mayastor_grpc.rs
  io-engine/src/grpc/v1/replica.rs
  io-engine/src/lvs/lvs_lvol.rs
  io-engine/src/lvs/lvs_store.rs
  io-engine/src/lvs/mod.rs
  io-engine/tests/replica_thin.rs
  nix/pkgs/libspdk/default.nix
Due: rust-style, rust-lint

ci: fixup release branch for Jenkins
  Jenkinsfile
Due: none

feat(nexus): reactor freeze detection is now controlled via cli flags
  io-engine/Cargo.toml
  io-engine/src/bin/io-engine.rs
  io-engine/src/core/diagnostics.rs
  io-engine/src/core/env.rs
  io-engine/src/core/mod.rs
  io-engine/src/core/reactor.rs
Due: rust-style, rust-lint

fix(build): added libunwind dependency for release builds
  nix/pkgs/io-engine/cargo-package.nix
Due: none

chore(build): jenkinsfile and release scripts changes
  Jenkinsfile
  scripts/release.sh
Due: none

fix(build): add missed Cargo.lock
  Cargo.lock
Due: none

ci: test image build on staging branch
  Jenkinsfile
Due: none

feat(reactor): freeze detection support for reactors
  Cargo.lock
  ci.nix
  mayastor/Cargo.toml
  mayastor/src/bin/mayastor.rs
  mayastor/src/core/diagnostics.rs
  mayastor/src/core/env.rs
  mayastor/src/core/mod.rs
  mayastor/src/core/reactor.rs
  nix/pkgs/mayastor/cargo-package.nix
  shell.nix
Due: rust-style, rust-lint

fix(nexus): shutdown nexuses upon graceful shutdown
  mayastor/src/bdev/nexus/mod.rs
  mayastor/src/core/env.rs
  mayastor/tests/persistence.rs
Due: rust-style, rust-lint

fix: upgrade dockerhub url v2 to check for tags
  scripts/release.sh
Due: none

ci: add build_image param to Jenkins and tidy up
  Jenkinsfile
  scripts/release.sh
Due: none

ci: fix comment
  Jenkinsfile
  io-engine/src/bdev/nexus/nexus_bdev_error.rs
Due: rust-style, rust-lint

feat: add more reservation control to create nexus
  .gitignore
  Cargo.lock
  io-engine-tests/src/nexus.rs
  io-engine/src/bdev/nexus/mod.rs
  io-engine/src/bdev/nexus/nexus_bdev.rs
  io-engine/src/bdev/nexus/nexus_bdev_children.rs
  io-engine/src/bdev/nexus/nexus_bdev_error.rs
  io-engine/src/bdev/nexus/nexus_child.rs
  io-engine/src/bdev/nvmx/handle.rs
  io-engine/src/bin/io-engine-client/nexus_cli.rs
  io-engine/src/core/block_device.rs
  io-engine/src/grpc/v0/mayastor_grpc.rs
  io-engine/src/grpc/v1/nexus.rs
  io-engine/tests/nexus_io.rs
  io-engine/tests/nexus_with_local.rs
  nix/lib/mkContainerEnv.nix
  nix/pkgs/ms-buildenv/default.nix
  shell.nix
Due: rust-style, rust-lint

test(nvme): sort the container handles
  io-engine-tests/src/compose/rpc/v0.rs
Due: rust-style, rust-lint

ci: fix nodejs test by using retry function
  io-engine/src/bdev/nexus/mod.rs
  io-engine/src/bdev/nexus/nexus_bdev_error.rs
  scripts/grpc-test.sh
  test/grpc/test_rebuild.js
Due: rust-style, rust-lint, js-check
