Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-check, python-check

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: v1.2.0
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude_types: [diff]
-   repo: local
    hooks:
    -   id: rust-style
        name: Rust style
        description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
        entry: cargo fmt --all -- --check
        pass_filenames: true
        types: [file, rust]
        language: system
    -   id: rust-lint
        name: Rust lint
        description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
        entry: cargo clippy --all --all-targets -- -D warnings
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: js-check
        name: JS style and lint
        description: Run semistandard on files included in the commit.
        entry: ./scripts/js-check.sh
        pass_filenames: true
        types: [file, javascript]
        language: system
    -   id: commit-lint
        name: Commit Lint
        description: Runs commitlint against the commit message.
        language: system
        entry: bash -c "npm install @commitlint/config-conventional @commitlint/cli; cat $1 | npx commitlint"
        args: [$1]
        stages: [commit-msg]
    -   id: python-check
        name: python lint
        entry: black
        description: runs black against the python code
        pass_filenames: true
        types: [file, python]
        language: system

chore: update charts to add 2Gi as a minimum hugepages
  chart/templates/mayastor-daemonset.yaml
Due: none

chore: revert 'Merge #1093' as it needs a different fix for develop
  mayastor/src/bdev/nexus/mod.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_io_subsystem.rs
Due: rust-style, rust-lint

chore: don't add default max qpairs per controller
  chart/templates/mayastor-daemonset.yaml
  deploy/mayastor-daemonset.yaml
Due: none

chore(nexus): fixing bdev accessor functions in nexus
  mayastor/src/bdev/nexus/nexus_bdev.rs
Due: rust-style, rust-lint

chore(bdev): refactoring bdev layer in mayastor
  mayastor/src/bdev/aio.rs
  mayastor/src/bdev/loopback.rs
  mayastor/src/bdev/malloc.rs
  mayastor/src/bdev/nexus/mod.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_share.rs
  mayastor/src/bdev/null.rs
  mayastor/src/bdev/nvme.rs
  mayastor/src/bdev/nvmf.rs
  mayastor/src/bdev/uring.rs
  mayastor/src/core/bdev.rs
  mayastor/src/core/share.rs
  mayastor/src/grpc/bdev_grpc.rs
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/grpc/v1/bdev.rs
  mayastor/src/grpc/v1/replica.rs
  mayastor/src/lvs/lvol.rs
  mayastor/src/lvs/lvs_pool.rs
  mayastor/src/nexus_uri.rs
  mayastor/src/pool.rs
  mayastor/src/replica.rs
  mayastor/src/subsys/nvmf/admin_cmd.rs
  mayastor/src/subsys/nvmf/subsystem.rs
  mayastor/src/target/iscsi.rs
  mayastor/src/target/nvmf.rs
  mayastor/tests/core.rs
  mayastor/tests/iscsi_tgt.rs
  mayastor/tests/lvs_pool.rs
  mayastor/tests/nexus_share.rs
  mayastor/tests/nvmf.rs
  mayastor/tests/replica_timeout.rs
  mayastor/tests/thread.rs
Due: rust-style, rust-lint

feat(grpc): add v1 child operations
  mayastor/src/bdev/nexus/nexus_bdev_rebuild.rs
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/grpc/v1/nexus.rs
  mayastor/tests/nexus_rebuild.rs
  rpc/src/lib.rs
Due: rust-style, rust-lint

test: add child operations v1 test
  test/python/v1/rebuild/docker-compose.yml
  test/python/v1/rebuild/features/rebuild.feature
  test/python/v1/rebuild/test_bdd_rebuild.py
Due: python-check

feat(nexus info key): use supplied key if present
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_persistence.rs
  mayastor/src/bin/mayastor-client/nexus_cli.rs
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/grpc/v1/nexus.rs
  mayastor/tests/nexus_io.rs
Due: rust-style, rust-lint

feat(nix): add libnvme package
  ci.nix
  nix/mayastor-overlay.nix
  nix/pkgs/libnvme/default.nix
  nix/sources.json
  shell.nix
Due: none

feat(libnvme-rs): implement connect and disconnect
  Cargo.lock
  Cargo.toml
  libnvme-rs/Cargo.toml
  libnvme-rs/build.rs
  libnvme-rs/src/error.rs
  libnvme-rs/src/lib.rs
  libnvme-rs/src/nvme_tree.rs
  libnvme-rs/src/nvme_uri.rs
  libnvme-rs/wrapper.h
  mayastor/Cargo.toml
  mayastor/tests/mount_fs.rs
  mayastor/tests/persistence.rs
Due: rust-style, rust-lint

feat(libnvme-rs): implement list
  libnvme-rs/src/lib.rs
  libnvme-rs/src/nvme_device.rs
  libnvme-rs/src/nvme_tree.rs
  libnvme-rs/src/nvme_uri.rs
  mayastor/tests/nexus_io.rs
Due: rust-style, rust-lint

feat(libnvme-rs): add ability to listen for events for a specific target
  Cargo.lock
  libnvme-rs/Cargo.toml
  libnvme-rs/src/nvme_uri.rs
Due: rust-style, rust-lint

Script to deploy mayastor
  scripts/deploy/1
  scripts/deploy/actions/hugepage-enabler-daemonset.yaml
  scripts/deploy/actions/kured-config.yaml
  scripts/deploy/azure-cluster-up.sh
  scripts/deploy/cluster-up.sh
  scripts/deploy/cluster/multi-az/aks-config.json
  scripts/deploy/cluster/multi-az/azuredisk-csi-driver-values.yaml
  scripts/deploy/cluster/multi-az/multi-az.json
  scripts/deploy/cluster/single-az/aks-config.json
  scripts/deploy/cluster/single-az/azuredisk-csi-driver-values.yaml
  scripts/deploy/cluster/single-az/single-az.json
  scripts/deploy/common-setup.sh
  scripts/deploy/config/fio-pod.yaml
  scripts/deploy/config/pvc-1-rep.yaml
  scripts/deploy/config/pvc-3-rep.yaml
  scripts/deploy/config/storageclass-1-replica.yaml
  scripts/deploy/config/storageclass-3-replica.yaml
  scripts/deploy/enable-azure-bastion.sh
  scripts/deploy/resource-status.sh
  scripts/deploy/translations/en_US/LC_MESSAGES/acsengine.mo
  scripts/deploy/translations/en_US/LC_MESSAGES/acsengine.po
Due: none

Amending the arg for hugepage daemonset
  scripts/deploy/actions/hugepage-enabler-daemonset.yaml
Due: none

fix: add libnvme-rs to cargo-package
  nix/pkgs/mayastor/cargo-package.nix
Due: none

chore: remove csi-node-plugin from the mayastor repo
  Cargo.lock
  Cargo.toml
  chart/templates/csi-daemonset.yaml
  csi/Cargo.toml
  csi/Dockerfile
  csi/README.md
  csi/build.rs
  csi/proto/csi.proto
  csi/proto/mayastornodeplugin.proto
  csi/src/block_vol.rs
  csi/src/dev.rs
  csi/src/dev/iscsi.rs
  csi/src/dev/iscsi/iscsiadm.rs
  csi/src/dev/nbd.rs
  csi/src/dev/nvmf.rs
  csi/src/dev/util.rs
  csi/src/error.rs
  csi/src/filesystem_vol.rs
  csi/src/findmnt.rs
  csi/src/format.rs
  csi/src/identity.rs
  csi/src/match_dev.rs
  csi/src/mount.rs
  csi/src/node.rs
  csi/src/nodeplugin_grpc.rs
  csi/src/nodeplugin_svc.rs
  csi/src/server.rs
  deploy/csi-daemonset.yaml
  nix/pkgs/images/default.nix
  nix/pkgs/mayastor/cargo-package.nix
  scripts/release.sh
  test/grpc/test_common.js
  test/grpc/test_csi.js
  test/python/tests/csi/features/csi.feature
  test/python/tests/csi/test_bdd_csi.py
  test/python/tests/csi/test_csi.py
Due: rust-style, rust-lint, js-check, python-check

chore: remove nvmeadm and devinfo
  Cargo.lock
  Cargo.toml
  devinfo/Cargo.toml
  devinfo/build.rs
  devinfo/src/blkid/mod.rs
  devinfo/src/blkid/partition.rs
  devinfo/src/blkid/probe.rs
  devinfo/src/block_device.rs
  devinfo/src/lib.rs
  devinfo/src/mountinfo/mod.rs
  devinfo/src/partition/mod.rs
  devinfo/wrapper.h
  nix/pkgs/mayastor/cargo-package.nix
  nvmeadm/.cargo/config
  nvmeadm/Cargo.toml
  nvmeadm/src/error.rs
  nvmeadm/src/lib.rs
  nvmeadm/src/nvme_namespaces.rs
  nvmeadm/src/nvme_page.rs
  nvmeadm/src/nvme_uri.rs
  nvmeadm/src/nvmf_discovery.rs
  nvmeadm/src/nvmf_subsystem.rs
  nvmeadm/tests/discovery_test.rs
  scripts/cargo-test.sh
  scripts/grpc-test.sh
  test/python/setup.sh
Due: rust-style, rust-lint

Removing unwanted files
  azure-pipelines.yml
  scripts/deploy/1
  scripts/deploy/actions/hugepage-enabler-daemonset.yaml
  scripts/deploy/azure-cluster-up.sh
  scripts/deploy/cluster-up.sh
  scripts/deploy/translations/en_US/LC_MESSAGES/acsengine.mo
  scripts/deploy/translations/en_US/LC_MESSAGES/acsengine.po
Due: none

fix(Jenkins): build correct images
  Jenkinsfile
Due: none

refactor(replace NATS): change the registration transport to grpc
  Cargo.lock
  Cargo.toml
  ci.nix
  composer/Cargo.toml
  composer/src/lib.rs
  mayastor/Cargo.toml
  mayastor/src/bin/mayastor.rs
  mayastor/src/core/env.rs
  mayastor/src/subsys/mbus/mod.rs
  mayastor/src/subsys/mbus/registration.rs
  mayastor/src/subsys/mod.rs
  mayastor/src/subsys/registration/mod.rs
  mayastor/src/subsys/registration/registration_grpc.rs
  mbus-api/Cargo.toml
  mbus-api/src/lib.rs
  mbus-api/src/mbus_nats.rs
  mbus-api/src/receive.rs
  mbus-api/src/send.rs
  mbus-api/src/v0.rs
  nix/pkgs/mayastor/cargo-package.nix
  rpc/build.rs
  rpc/src/lib.rs
  scripts/grpc-test.sh
  shell.nix
  test/grpc/package-lock.json
  test/grpc/package.json
  test/grpc/test_nats.js
Due: rust-style, rust-lint, js-check

refactor(replace NATS): add default macros for the grpc endpoint
  mayastor/src/core/env.rs
  mayastor/src/subsys/mod.rs
  mayastor/src/subsys/registration/mod.rs
Due: rust-style, rust-lint

refactor(replace NATS): remove reply error, make arg optional
  Cargo.lock
  Cargo.toml
  mayastor/Cargo.toml
  mayastor/src/bin/mayastor.rs
  mayastor/src/core/env.rs
  mayastor/src/subsys/registration/mod.rs
  mayastor/src/subsys/registration/registration_grpc.rs
Due: rust-style, rust-lint

chore: revert lock file
  test/grpc/package-lock.json
Due: none

fix(python tests): cleanup containers
  Jenkinsfile
Due: none

refactor(helm): move chart defaults to `values.yaml`
  chart/develop/values.yaml
  chart/release/values.yaml
  chart/templates/nats-deployment.yaml
  chart/test/values.yaml
  chart/values.yaml
Due: none

refactor(helm): remove unneeded quotes
  chart/templates/nats-deployment.yaml
Due: none

refactor(helm): rename file to reflect content
  chart/templates/nats-statefulset.yaml
Due: none

refactor(helm): update NATS and allow overriding image and tag
  chart/templates/nats-deployment.yaml
  chart/values.yaml
Due: none

fix(helm): add deterministic NATS cluster name
  chart/templates/nats-statefulset.yaml
Due: none

fix(helm): fix ARM support
  chart/values.yaml
Due: none

chore: remove NATS and stale templates from charts
  chart/develop/values.yaml
  chart/release/values.yaml
  chart/templates/csi-daemonset.yaml
  chart/templates/mayastor-daemonset.yaml
  chart/templates/nats-deployment.yaml
  chart/test/values.yaml
  chart/values.yaml
  deploy/csi-daemonset.yaml
  deploy/mayastor-daemonset.yaml
  deploy/nats-deployment.yaml
  deploy/pool.yaml
Due: none

fix(build): fix arm64 build
  chart/templates/mayastor-daemonset.yaml
  deploy/mayastor-daemonset.yaml
  nix/pkgs/libspdk/default.nix
Due: none

Optionally deploy etcd bitnami chart
  chart/Chart.yaml
  chart/templates/etcd/storage/localpv.yaml
  chart/values.yaml
Due: none

Add option to configure the etcd endpoint used by mayastor
  chart/templates/_helpers.tpl
  chart/templates/mayastor-daemonset.yaml
  chart/values.yaml
Due: none
