Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-check, python-check

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: v1.2.0
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude_types: [diff]
-   repo: local
    hooks:
    -   id: rust-style
        name: Rust style
        description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
        entry: cargo fmt --all -- --check
        pass_filenames: true
        types: [file, rust]
        language: system
    -   id: rust-lint
        name: Rust lint
        description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
        entry: cargo clippy --all --all-targets -- -D warnings
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: js-check
        name: JS style and lint
        description: Run semistandard on files included in the commit.
        entry: ./scripts/js-check.sh
        pass_filenames: true
        types: [file, javascript]
        language: system
    -   id: commit-lint
        name: Commit Lint
        description: Runs commitlint against the commit message.
        language: system
        entry: bash -c "npm install @commitlint/config-conventional @commitlint/cli; cat $1 | npx commitlint"
        args: [$1]
        stages: [commit-msg]
    -   id: python-check
        name: python lint
        entry: black
        description: runs black against the python code
        pass_filenames: true
        types: [file, python]
        language: system

feat(nexus): implemeting log-based rebuild
  Cargo.lock
  io-engine/Cargo.toml
  io-engine/src/bdev/nexus/nexus_bdev_children.rs
  io-engine/src/bdev/nexus/nexus_bdev_rebuild.rs
  io-engine/src/bdev/nexus/nexus_channel.rs
  io-engine/src/bdev/nexus/nexus_child.rs
  io-engine/src/bdev/nexus/nexus_io.rs
  io-engine/src/rebuild/mod.rs
  io-engine/src/rebuild/rebuild_job.rs
  io-engine/src/rebuild/rebuild_log.rs
  io-engine/tests/nexus_rebuild_partial.rs
Due: rust-style, rust-lint

feat(nvme): asynchronous connect for nvme qpairs
  io-engine/src/bdev/device.rs
  io-engine/src/bdev/nexus/nexus_bdev_rebuild.rs
  io-engine/src/bdev/nexus/nexus_child.rs
  io-engine/src/bdev/nvmx/channel.rs
  io-engine/src/bdev/nvmx/device.rs
  io-engine/src/bdev/nvmx/handle.rs
  io-engine/src/core/block_device.rs
  io-engine/src/core/mod.rs
  io-engine/src/rebuild/rebuild_job.rs
  nix/pkgs/libspdk/default.nix
Due: rust-style, rust-lint

fix: missed from #1282
  io-engine/src/bdev/nexus/nexus_child.rs
Due: rust-style, rust-lint

Merge #1278
  io-engine/src/bdev/device.rs
  io-engine/src/bdev/nexus/nexus_bdev_rebuild.rs
  io-engine/src/bdev/nexus/nexus_child.rs
  io-engine/src/bdev/nvmx/channel.rs
  io-engine/src/bdev/nvmx/device.rs
  io-engine/src/bdev/nvmx/handle.rs
  io-engine/src/core/block_device.rs
  io-engine/src/core/mod.rs
  io-engine/src/rebuild/rebuild_job.rs
  nix/pkgs/libspdk/default.nix
Due: rust-style, rust-lint

fix(nexus): better handling of async qpair
  io-engine/src/bdev/device.rs
  io-engine/src/bdev/nexus/nexus_bdev.rs
  io-engine/src/bdev/nexus/nexus_channel.rs
  io-engine/src/bdev/nexus/nexus_child.rs
  io-engine/src/bdev/nexus/nexus_io.rs
  io-engine/src/bdev/nvmx/channel.rs
  io-engine/src/bdev/nvmx/controller.rs
  io-engine/src/bdev/nvmx/device.rs
  io-engine/src/bdev/nvmx/handle.rs
  io-engine/src/bdev/nvmx/mod.rs
  io-engine/src/core/block_device.rs
  io-engine/src/core/mod.rs
  io-engine/src/persistent_store.rs
Due: rust-style, rust-lint

fix(api/v1): rebuilds count per nexus
  io-engine/src/grpc/v1/nexus.rs
Due: rust-style, rust-lint

refactor(io-engine-client/v1): simplify nexus create cli
  io-engine/src/bin/io-engine-client/v1/nexus_cli.rs
Due: rust-style, rust-lint

fix(nexus): improved request resubmission fr failed read requests
  io-engine/src/bdev/nexus/nexus_channel.rs
  io-engine/src/bdev/nexus/nexus_io.rs
Due: rust-style, rust-lint

fix(nexus): avoid duplicating replica records when readding replicas
  io-engine/src/bdev/nexus/nexus_persistence.rs
Due: rust-style, rust-lint

chore(ci): updating to latest rustc and nix
  ci.nix
  io-engine/src/bdev/nvmx/channel.rs
  io-engine/tests/mount_fs.rs
  nix/lib/rust.nix
  nix/lib/version.nix
  nix/overlay.nix
  nix/pkgs/fio/default.nix
  nix/pkgs/io-engine/cargo-package.nix
  nix/pkgs/io-engine/default.nix
  nix/pkgs/io-engine/units.nix
  nix/pkgs/libnvme/default.nix
  nix/pkgs/nvme-cli/default.nix
  nix/sources.json
  scripts/grpc-test.sh
  scripts/rust-linter-env.sh
  scripts/rust-linter.sh
  shell.nix
  test/grpc/README.md
  test/grpc/test_nexus.js
  test/python/tests/ana_client/test_ana_client.py
Due: rust-style, rust-lint, js-check, python-check

fix: fault children which are being rebuilt
  .pre-commit-config.yaml
  io-engine/src/bdev/nexus/nexus_bdev_children.rs
  io-engine/src/bdev/nexus/nexus_bdev_rebuild.rs
  io-engine/src/bdev/nexus/nexus_child.rs
Due: rust-style, rust-lint

fix(nexus): refactoring nexus child out-of-sync state
  io-engine/src/bdev/nexus/mod.rs
  io-engine/src/bdev/nexus/nexus_bdev.rs
  io-engine/src/bdev/nexus/nexus_bdev_children.rs
  io-engine/src/bdev/nexus/nexus_bdev_rebuild.rs
  io-engine/src/bdev/nexus/nexus_channel.rs
  io-engine/src/bdev/nexus/nexus_child.rs
  io-engine/src/bdev/nexus/nexus_persistence.rs
  io-engine/src/grpc/v0/nexus_grpc.rs
  io-engine/src/grpc/v1/nexus.rs
  io-engine/tests/add_child.rs
Due: rust-style, rust-lint

fix: default to zero upon failed hugepages lookups
  io-engine/src/bin/io-engine.rs
  scripts/rust-style.sh
Due: rust-style, rust-lint

fix(release): use latest annotated tag only
  nix/lib/version.nix
  scripts/release.sh
Due: none

chore(git): fixing git commit hooks
  .pre-commit-config.yaml
Due: none

fix(spdk): disable loopback interface check on SPDK socket create
  io-engine/src/bdev/nvmx/channel.rs
  nix/pkgs/libspdk/default.nix
Due: rust-style, rust-lint

fix(rpc/api): update to latest api
  io-engine-tests/src/nexus.rs
  io-engine-tests/src/pool.rs
  io-engine-tests/src/replica.rs
  io-engine/src/bin/io-engine-client/v0/nexus_cli.rs
  io-engine/src/bin/io-engine-client/v1/nexus_cli.rs
  io-engine/src/bin/io-engine-client/v1/pool_cli.rs
  io-engine/src/bin/io-engine-client/v1/replica_cli.rs
  io-engine/src/grpc/v1/nexus.rs
  io-engine/src/grpc/v1/pool.rs
  io-engine/src/grpc/v1/replica.rs
Due: rust-style, rust-lint

fix(api/idempotency): fix returned status codes
  io-engine/src/bdev/dev.rs
  io-engine/src/bdev/nexus/nexus_bdev_children.rs
  io-engine/src/bdev/nexus/nexus_bdev_error.rs
  io-engine/src/grpc/v0/mayastor_grpc.rs
  io-engine/src/grpc/v1/nexus.rs
  jsonrpc/src/error.rs
  test/python/cross-grpc-version/replica/test_bdd_replica.py
  test/python/v1/replica/test_bdd_replica.py
Due: rust-style, rust-lint, python-check

fix(client/v1): added missing response status check
  io-engine/src/bin/io-engine-client/v1/replica_cli.rs
Due: rust-style, rust-lint

fix: use same logic for all list_nexuses listings
  io-engine/src/grpc/v1/nexus.rs
Due: rust-style, rust-lint

feat(nexus/rebuild): add replica rebuild history recording
  Cargo.lock
  io-engine-bench/Cargo.toml
  io-engine-tests/Cargo.toml
  io-engine/Cargo.toml
  io-engine/src/bdev/nexus/nexus_bdev.rs
  io-engine/src/bdev/nexus/nexus_bdev_rebuild.rs
  io-engine/src/bin/io-engine-client/context.rs
  io-engine/src/bin/io-engine-client/v0/rebuild_cli.rs
  io-engine/src/bin/io-engine-client/v1/rebuild_cli.rs
  io-engine/src/grpc/v0/mayastor_grpc.rs
  io-engine/src/grpc/v1/nexus.rs
  io-engine/src/rebuild/mod.rs
  io-engine/src/rebuild/rebuild_job.rs
  io-engine/src/subsys/registration/registration_grpc.rs
  jsonrpc/Cargo.toml
Due: rust-style, rust-lint

fix(spdk): disable loopback interface check on SPDK socket create
  nix/pkgs/libspdk/default.nix
Due: none

fix(rpc/api): update to latest api
  .pre-commit-config.yaml
  io-engine-tests/src/nexus.rs
  io-engine-tests/src/pool.rs
  io-engine-tests/src/replica.rs
  io-engine/src/bin/io-engine-client/v0/nexus_cli.rs
  io-engine/src/bin/io-engine-client/v1/nexus_cli.rs
  io-engine/src/bin/io-engine-client/v1/pool_cli.rs
  io-engine/src/bin/io-engine-client/v1/replica_cli.rs
  io-engine/src/grpc/v1/nexus.rs
  io-engine/src/grpc/v1/pool.rs
  io-engine/src/grpc/v1/replica.rs
Due: rust-style, rust-lint

chore(nexus/rebuild): add test assert for rebuild history
  io-engine/tests/nexus_rebuild.rs
Due: rust-style, rust-lint

refactor: remove unsafe constructs from rebuild
  io-engine-tests/src/lib.rs
  io-engine/src/bdev/nexus/nexus_bdev_rebuild.rs
  io-engine/src/bdev/nexus/nexus_child.rs
  io-engine/src/grpc/v0/mayastor_grpc.rs
  io-engine/src/grpc/v0/nexus_grpc.rs
  io-engine/src/grpc/v1/nexus.rs
  io-engine/src/rebuild/mod.rs
  io-engine/src/rebuild/rebuild_descriptor.rs
  io-engine/src/rebuild/rebuild_error.rs
  io-engine/src/rebuild/rebuild_job.rs
  io-engine/src/rebuild/rebuild_job_backend.rs
  io-engine/src/rebuild/rebuild_record.rs
  io-engine/src/rebuild/rebuild_state.rs
  io-engine/src/rebuild/rebuild_task.rs
  io-engine/tests/nexus_rebuild.rs
Due: rust-style, rust-lint

chore(bdd): add bdd for rebuild history
  test/python/README.md
  test/python/v1/rebuild/features/rebuild_history.feature
  test/python/v1/rebuild/test_bdd_rebuild_history.py
Due: python-check

chore: testing github
  io-engine/src/bin/io-engine.rs
Due: rust-style, rust-lint
