Repository openebs/MayaStor: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-style, rust-lint, js-check, python-check

rust-style:
  name: Rust style
  description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
  entry: cargo fmt --all -- --check
  pass_filenames: true
  language: system

rust-lint:
  name: Rust lint
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: cargo clippy --all --all-targets -- -D warnings
  pass_filenames: false
  language: system

js-check:
  name: JS style and lint
  description: Run semistandard on files included in the commit.
  entry: ./scripts/js-check.sh
  pass_filenames: true
  language: system

python-check:
  name: python lint
  entry: black
  description: runs black against the python code
  pass_filenames: true
  language: system

Configurable nodeSelector and affinity for mayastor pods
  chart/templates/mayastor-daemonset.yaml
  chart/values.yaml
Due: none

Add etcd-probe init container
  chart/templates/mayastor-daemonset.yaml
Due: none

Support extra initContainers for the mayastor pod
  chart/templates/mayastor-daemonset.yaml
  chart/values.yaml
Due: none

configurable extra volumes for the mayastor pod
  chart/templates/mayastor-daemonset.yaml
  chart/values.yaml
Due: none

configurable location for the mayastor config files
  chart/templates/mayastor-daemonset.yaml
  chart/values.yaml
Due: none

configurable service account name
  chart/templates/mayastor-daemonset.yaml
  chart/values.yaml
Due: none

use default mayastorLogLevel in values.yaml
  chart/values.yaml
Due: none

Use an array for nodeSelector
  chart/templates/mayastor-daemonset.yaml
  chart/values.yaml
Due: none

chore: increase default number of max namespaces per node to 2k
  mayastor/src/subsys/config/opts.rs
Due: rust-style, rust-lint

Support templates in mayastorExtraInitContainers
  chart/templates/mayastor-daemonset.yaml
Due: none

Configurable image in helm chart
  chart/templates/mayastor-daemonset.yaml
  chart/values.yaml
Due: none

fix moved dnsPolicy comment
  chart/templates/mayastor-daemonset.yaml
Due: none

chore(mayastor): fixing compiler warnings
  csi/src/server.rs
  mayastor/src/bdev/nexus/nexus_channel.rs
  mayastor/src/bdev/nvmx/controller.rs
  mayastor/src/bdev/nvmx/uri.rs
  mayastor/src/bin/casperf.rs
  mayastor/src/core/env.rs
  mayastor/src/core/io_driver.rs
  mayastor/src/core/nvme.rs
  mayastor/src/grpc/mayastor_grpc.rs
  nvmeadm/src/nvme_namespaces.rs
Due: rust-style, rust-lint

feat(mayastor): allow user to specify nic for nvmf target
  mayastor/src/core/env.rs
  mayastor/src/core/mod.rs
  mayastor/src/core/nic.rs
  mayastor/src/subsys/nvmf/transport.rs
Due: rust-style, rust-lint

fix(Jenkins): build correct images
  Jenkinsfile
Due: none

fix(nexus): serialised nexus i/o suspend/resume
  mayastor/src/bdev/nexus/mod.rs
  mayastor/src/bdev/nexus/nexus_bdev.rs
  mayastor/src/bdev/nexus/nexus_io.rs
  mayastor/src/bdev/nexus/nexus_io_subsystem.rs
  mayastor/src/bdev/nexus/nexus_share.rs
  mayastor/src/core/bdev.rs
Due: rust-style, rust-lint

fix(python tests): cleanup containers
  Jenkinsfile
Due: none

fix: volume creation failed in eks cluster due to different hostname and nodename
  mayastor/src/bin/mayastor.rs
  mayastor/src/core/env.rs
Due: rust-style, rust-lint

fix(ci): fixing debug build
  nix/pkgs/mayastor/cargo-package.nix
Due: none

docs: :art: document markdown formatted to standard md format
  CONTRIBUTING.md
  doc/FAQ.md
  doc/build.md
  doc/csi.md
  doc/errors.md
  doc/mayastor-client.md
  doc/microk8s.md
  doc/run.md
  doc/test.md
Due: none

docs(readme): :art: linted readme
  README.md
Due: none

feat(helm-chart): :sparkles: formatted helm chart along standard lines and resolved issues with images
  chart/Chart.yaml
  chart/README.md
  chart/templates/_helpers.tpl
  chart/templates/etcd/storage/localpv.yaml
  chart/templates/mayastor-daemonset.yaml
  chart/templates/pool.yaml
  chart/templates/serviceaccount.yaml
  chart/values.yaml
Due: none

refactor(helm-chart): :recycle: update generate yamls script to use new updated parameters
  scripts/generate-deploy-yamls.sh
Due: none

feat(helm-chart): :sparkles: added runtimeclass option to daemonset
  chart/templates/mayastor-daemonset.yaml
  chart/values.yaml
Due: none

chore(hugepage): add 1GB Hugepage checking
  mayastor/src/bin/mayastor.rs
Due: rust-style, rust-lint

docs(readme): fixed spelling issue and TOC formatting
  doc/FAQ.md
  doc/mayastor-client.md
Due: none

chore(nexus): print nexus device offset, block num, etc upon creation
  mayastor/src/bdev/nexus/nexus_bdev_children.rs
Due: rust-style, rust-lint

fix: update commit linter
  .github/workflows/pr-commitlint.yml
Due: none

fix(mayastor): fixing nvmf target model id and serial number
  Cargo.lock
  mayastor/Cargo.toml
  mayastor/src/bdev/nvmx/uri.rs
  mayastor/src/constants.rs
  mayastor/src/host/blk_device.rs
  mayastor/src/lib.rs
  mayastor/src/subsys/nvmf/subsystem.rs
  mayastor/src/subsys/nvmf/target.rs
  mayastor/tests/block_device_nvmf.rs
  mayastor/tests/nexus_io.rs
Due: rust-style, rust-lint

fix: change v0/create_pool to idempotent
  mayastor/src/grpc/mayastor_grpc.rs
  test/python/tests/replica/features/pool.feature
  test/python/tests/replica/test_bdd_pool.py
Due: rust-style, rust-lint, python-check

fix: bors should check the GHA statuses
  bors.toml
Due: none

fix(pcie): fixing panic when creating pcie bdev with invalid url
  mayastor/src/bdev/nvme.rs
Due: rust-style, rust-lint

fix: fix error message when different pool found
  mayastor/src/lvs/lvs_pool.rs
Due: rust-style, rust-lint

feat(mayastor): allow user to specify nic for nvmf target
  Cargo.lock
  mayastor/Cargo.toml
  mayastor/src/core/env.rs
  mayastor/src/core/mod.rs
  mayastor/src/core/nic.rs
  mayastor/src/subsys/nvmf/transport.rs
  mayastor/tests/nvmf.rs
Due: rust-style, rust-lint

feat(version): unified version display
  .gitmodules
  Cargo.lock
  Cargo.toml
  mayastor/Cargo.toml
  mayastor/src/bin/casperf.rs
  mayastor/src/bin/initiator.rs
  mayastor/src/bin/jsonrpc.rs
  mayastor/src/bin/mayastor-client/main.rs
  mayastor/src/bin/mayastor.rs
  mayastor/src/bin/nvmet.rs
  mayastor/src/bin/uring-support.rs
  mayastor/src/core/env.rs
  mayastor/src/grpc/mayastor_grpc.rs
  mayastor/src/grpc/v1/host.rs
  nix/pkgs/mayastor/cargo-package.nix
Due: rust-style, rust-lint

Path conditions:
  rust-style: any of: \.rs$
  rust-lint: any of: \.rs$
  js-check: any of: \.(js|mjs|cjs)$
  python-check: any of: \.py$
